.posts{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;;
}

.referencia{
    font-size: 24px;
    padding: 8px;
    margin: 16px 0;
    display: block;
    text-align: center;
    background-color: #E6E7E8
}