.posts{
    padding-bottom: 1.5rem;
    border-bottom: .05rem solid #ccc;
    margin-bottom: 1rem;;
}

.referencia{
    font-size: 1.2em;
    padding: .4em;
    margin: .1em 0;
    display: block;
    text-align: center;
    background-color: #E6E7E8
}