.foto-home {
    height: 200px;
}

.saudacao p {
    color: #99A;
    line-height: 1;
    padding: 2rem 2rem;;
}

.saudacao-inicio {
    color: #889;
    font-size: 3rem;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    color: #000;
    font-size: 2rem;
}

.saudacao em {
    color: #851944;
    font-size: 5rem;
}

.botao-index {
    font-size: 1.3em;
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    padding: .5em;
    margin: 3em auto;
}

.secao-inicio h2 {
    text-transform: uppercase;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    padding: 2rem 2rem;
}

.trabalhos h2 {
    color: #FFF;
}

.trabalhos ul {
    margin-top: 1em;
    overflow: hidden;
    border: .5em solid black;
}

.trabalhos li {
    float: left;
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    padding: 2rem 2rem;
    position: relative;
}

.blog li a {
    color: #FCF;
}

footer {
    background-color: #000;
    color: #FFF;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

h2{
    font-size: 2.5rem;
}

.blog li{
    margin: .5em;
    padding: .2em;
}

.blog small{
    font-size: .75em;
    position: relative;
    top: -1.5em;
}

footer p{
    font-size: .75em;
}

header{
    position: relative;
}

.palavra-home{
    position: absolute;
    font-family: 'Shadows Into Light', cursive;
    color: #D5447E;
    font-weight: bold;
}

.eficiencia{
    top: 5%;
    left: 5%;
}

.boas-praticas{
    top: 5%;
    left: 15%;
}

.codigo-limpo{
    top: 28%;
    left: 15%
}

.css3{
    top: 42%;
    left: 10.5%;
}

.html5{
    top: 15%;
    left: 10%;
}

.javascript{
    top: 28%;
    left: 6%;
}

.acessibilidade{
    top: 5%;
    right: 9%;
}

.responsivo{
    top: 28%;
    right: 10%;
}

.otimizacoes{
    top: 5%;
    right: 25%;
}

.agilidade{
    top: 42%;
    right: 17.5%
}

.design{
    top: 28%;
    right: 25.5%;
}

li .inicio-post{
    position: absolute;
    top: 4em;
    left: 30%;
    background-color: #FFF;
    color: #000;
    height: 8em;
    padding: 1em 2em;
}

.blog .mais-recente{
    background-color: #FFF;
}

.blog .mais-recente a{
    color: #f26;
}

.blog li{
    width: 30%;
}