.foto-home {
    height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.saudacao p {
    color: #99A;
    line-height: 1;
    padding: 2rem 2rem;;
}

.saudacao-inicio {
    color: #889;
    font-size: 3rem;
}

.saudacao-ultima-linha {
    text-align: right;
    display: block;
}

.saudacao strong {
    color: #000;
    font-size: 2rem;
}

.saudacao em {
    color: #851944;
    font-size: 5rem;
    display: inline-block;
    transform: rotate(-5deg) skew(-10deg);
}

.botao-index {
    font-size: 1.3em;
    background-color: #851944;
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    padding: .5em;
    margin: 3em auto;
}

.secao-inicio h2 {
    text-transform: uppercase;
}

.trabalhos {
    background-color: #3C1D3D;
    border-top: .5em solid #000;
    border-bottom: .5em solid #000;
    padding: 2rem 2rem;
}

.trabalhos h2 {
    color: #FFF;
}

.trabalhos ul {
    margin-top: 1em;
    overflow: hidden;
    border: .5em solid black;
}

.trabalhos li {
    float: left;
    width: 33.333%;
}

.trabalhos img {
    width: 100%;
    display: block;
}

.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: .5em solid #851944;
    padding: 2rem 2rem;
    position: relative;
}

.blog li a {
    color: #FCF;
}

footer {
    background-color: #000;
    color: #FFF;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

h2{
    font-size: 2.5rem;
}

.blog li{
    margin: .5em;
    padding: .2em;
}

.blog small{
    font-size: .75em;
    position: relative;
    top: -1.5em;
}

footer p{
    font-size: .75em;
}

header{
    position: relative;
}

.palavra-home {
    position: absolute;
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    color: #D5447E;

}

.palavras-chave{
    perspective: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.palavras-chave li{
    font-size: 400%;
}

.eficiencia {
    top: 55%;
    left: 73%;
    -webkit-transform: rotate(15deg) translate(-50%, -50%) translateZ(5px) scale(0.25);
    transform: rotate(15deg) translate(-50%, -50%) translateZ(5px) scale(0.25);
}

.boas-praticas {
    top: 50%;
    left: 30%;
    -webkit-transform: rotate(-15deg) translate(-50%, -50%) translateZ(6px) scale(0.25);
    transform: rotate(-15deg) translate(-50%, -50%) translateZ(6px) scale(0.25);
}

.codigo-limpo {
    top: 45%;
    left: 30%;
    -webkit-transform: translateZ(-2px) translate(-50%, -50%) translateZ(9px) scale(0.25);
    transform: translateZ(-2px) translate(-50%, -50%) translateZ(9px) scale(0.25);
}

.css3 {
    top: 50%;
    left: 32%;
    -webkit-transform: translate(-50%, -50%) translateZ(-1px) scale(0.25);
    transform: translate(-50%, -50%) translateZ(-1px) scale(0.25);
}

.html5 {
    top: 45%;
    left: 58%;
    -webkit-transform: rotate(10deg) translate(-50%, -50%) translateZ(10px) scale(0.25);
    transform: rotate(10deg) translate(-50%, -50%) translateZ(10px) scale(0.25);
}

.javascript {
    top: 30%;
    left: 57%;
    -webkit-transform: rotate(-12deg) translate(-50%, -50%) translateZ(7px) scale(0.25);
    transform: rotate(-12deg) translate(-50%, -50%) translateZ(7px) scale(0.25);
}

.acessibilidade {
    top: 23%;
    left: 30%;
    -webkit-transform: rotate(9deg) translate(-50%, -50%) translateZ(-2px) scale(0.25);
    transform: rotate(9deg) translate(-50%, -50%) translateZ(-2px) scale(0.25);
}

.responsivo {
    top: 10%;
    left:10%;
    -webkit-transform:rotate(-11deg) translate(-50%, -50%) translateZ(-3px) scale(0.25);
    transform: rotate(-11deg) translate(-50%, -50%) translateZ(-3px) scale(0.25);
}

.otimizacoes {
    top: 65%;
    left: 78%;
    -webkit-transform: rotate(-8deg) translate(-50%, -50%) scale(0.25);
    transform: rotate(-8deg) translate(-50%, -50%) scale(0.25);
}

.agilidade {
    top: 55%;
    left: 41%;
    -webkit-transform: rotate(13deg) translate(-50%, -50%) translateZ(10px) scale(0.25);
    transform: rotate(13deg) translate(-50%, -50%) translateZ(10px) scale(0.25);
}

.design {
    top: 35%;
    left: 65%;
}

li .inicio-post{
    position: absolute;
    top: 4em;
    left: 30%;
    background-color: #FFF;
    color: #000;
    height: 8em;
    padding: 1em 2em;
}

.blog .mais-recente{
    background-color: #FFF;
}

.blog .mais-recente a{
    color: #f26;
}

.blog li{
    width: 30%;
}

.titulo-principal .twitter{
    width: 14em;
    background-color: #3C1D3D;
    border: .25em solid #000;
    line-height: 1;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    padding: 1em 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(6.5754em, -2.4749em) rotate(45deg);
}