.portfolio li{
    display: inline-block;
    border: .4rem solid black;
    padding: .8rem;
    margin-right: .8rem;
    margin-bottom: .8rem;
    box-sizing: border-box;
    width: 45%;
    background-color: #FAFFFC;
    
}

.imagem-projeto{
    width: 100%;
}