html{
    font-size: 120%;
}

body{
    font-family: 'Crimson Text', serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

h1, h2{
    font-family: 'Open Sans Condensed', sans-serif;    
}

h2{
    font-size: 30px;
    clear: both;
}

.titulo-principal{
    text-align: center;
    font-size: 300%;
    color: #FFFFFF;
    background-color: #851944;
    padding: 1.25rem;
    border-bottom: .5rem solid #111111;
    margin: 0;
    text-transform: uppercase;
}

p{
    text-align: justify;
    margin: 1rem 0;
}

.menu-navegacao{
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
    text-transform: lowercase;
}

nav a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

#rodape-pagina{
    background-color: #111111;
    color: #F2FFFC;
    padding: 1rem;
}

main a{
    color: #851944;
}

aside, footer, blockquote{
    padding: 1rem;
}

.texto-principal{
    padding: 1.5rem 0;
    width: 36rem;
    margin: auto;
    padding-bottom: 3rem;
}

aside h1{
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}

.redes-sociais li{
    display: inline-block;
}

.redes-sociais a{
    display: block;
    width: 2rem;
    height: 2rem;
    color: transparent;
}

#github{
    background-image: url(../img/github.png);
}

#twitter{
    background-image: url(../img/twitter.png);
}

#linkedin{
    background-image: url(../img/linkedin.png);
}


main{
    float: left;
    width: 89%;
}

.menu-navegacao, .minha-foto{
    float: right;
    box-sizing: border-box;
    border-left: .5rem solid black;
    border-bottom: .5rem solid black;
}

.minha-foto{
    position: absolute;
    top: 0;
    right: 0;
}

.menu-navegacao{
    position: relative;
    top: 310px;
    width: 11%;
}


#rodape-pagina{
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}